<div class="container">
  <h1><%= @task.title %></h1>
  <p><%= @task.details %></p>
  <p>
    <% if @task.completed %>
      This task is completed
      <% else %>
      This task is not completed yet
    <% end %>
  </p>

  <%= link_to "Edit task", edit_task_path(@task)  %>

  <%= link_to "Delete",
    task_path(@task),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
</div>
